.StarWarsManagementTool {
	text-align: center;
	background-color: #fff;
	/* height: 100vh; */
}

.info-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	height: 100%;
	background-color: #fff;
}
.header-section {
	border-bottom: 1px solid #000000;
	width: 100%;
	padding: 10px;
}
.header-selected span {
	color: #ce1515;
}
.person-section,
.starship-section,
.vehicle-section,
.planet-section {
	display: flex;
	flex-direction: column;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 300px;
}

.select-label {
	margin-bottom: 10px;
}
.selected-section {
	display: flex;
	align-items: start;
	text-transform: capitalize;
	flex-direction: column;
	justify-content: start;
	margin-top: 10px;
	padding: 10px;
	max-width: 300px;
	border-top: 1px solid #000000;
}

.person-section h2,
.starship-section h2,
.vehicle-section h2,
.planet-section h2 {
	margin-bottom: 10px;
}

.starships-list,
.planet-list,
.vehicles-list {
	list-style-type: circle;
	text-align: left;
}
.planet-list {
	font-weight: normal;
}
.starships-list li,
.planet-list,
.vehicles-list li {
	cursor: pointer;
	margin-bottom: 5px;
	margin-left: 15px;
}
.starships-list li:hover,
.planet-list:hover,
.vehicles-list li:hover {
	cursor: pointer;
	margin-bottom: 5px;
	margin-left: 15px;
	color: #3115ce;
}

.checkbox-section {
	padding: 10px;
	display: flex;
	align-items: start;
	text-transform: capitalize;
	flex-direction: column;
	justify-content: start;
	font-size: 12px;
}
.checkbox-section label {
	padding: 10px;
}

.planet-info-list {
	border-top: 1px solid #000;
	width: 100%;
}
